body {
  background: #c2c2d6;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calculator {
  border: 2px solid #47476b;
  padding: 5px;
  background: black;
  width: 340px;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  position: relative;
  height: 65px;
  width: 80px;
  color: white;
  outline: 1px solid black;
  border: none;
  background: #4d4d4d;
  font-family: Share Tech Mono, monospace;
  font-size: 20px;
  cursor: default;
  &:hover {
    color: black;
    outline: 0.05em solid grey;
    z-index: 3;
  }
}
.jumbo {
  width: 160px;
}
